a {
color: #FCF0F0 !important; /* Change default color to white */
text-decoration: none; /* Remove underline */
}
.pfp-black { color: rgb(25, 25, 25) !important; }
.pfp-red { color: rgb(172, 0, 0); }
.pfp-blue { color: blue; }
.pfp-green { color: green; }
.pfp-yellow { color: rgb(157, 157, 1); }
.pfp-orange { color: orange; }
.pfp-purple { color: purple; }
.pfp-pink { color: #ff4d94; }
.pfp-brown { color: rgb(75, 44, 9); }
.pfp-gray { color: gray; }
.pfp-white { color: rgb(240, 240, 240); }

.bg-black { background-color: #737373 !important; }
.bg-red { background-color: #ff3d3d !important; }
.bg-blue { background-color: #4da6ff !important; }
.bg-green { background-color: #00a800 !important; }
.bg-yellow { background-color: #ecec4a !important; }
.bg-orange { background-color: #ff944d !important; }
.bg-purple { background-color: #944dff !important; }
.bg-pink { background-color: pink !important; } 
.bg-brown { background-color: #a0522d !important; }
.bg-gray { background-color: #999999 !important; }
.bg-white { background-color: #bbbbbb !important; } 




.user-modal{
    position: absolute;
    border-radius: 3px;
    padding: 5px;
    transform: translate(0, 0.5em);
}
.hidden {
    display: none;
}
.text-gold{
    color:#C9B037 !important
}
.text-silver{
    color:#B4B4B4 !important
}
.text-bronze{
    color:#6A3805 !important
} 

#searchBox input:focus {
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}

.lock-icon{
    top: 40px;
    left: 40px;
}

@media (max-width: 800px) {
  #profile {
    display: none !important;
  }
}

/* Mobile responsive fixes for header and footer */
@media (max-width: 768px) {
  /* Fix navbar width */
  .navbar {
    width: 100vw !important;
    max-width: 100vw !important;
    margin: 0 !important;
    padding: 0.5rem 1rem !important;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw !important;
    margin-right: -50vw !important;
  }
  
  .navbar .container {
    max-width: 100% !important;
    padding: 0 0.5rem !important;
    margin: 0 !important;
  }

  #mainNav {
    margin-left: 0 !important;
    width: 100% !important;
  }

  #react-navbar {
    margin-left: 0 !important;
    width: 100% !important;
    display: flex;
    justify-content: flex-end;
  }

  /* Fix footer width and centering */
  footer {
    width: 100vw !important;
    max-width: 100vw !important;
    margin: 300px 0 0 0 !important;
    padding: 2rem 0 !important;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw !important;
    margin-right: -50vw !important;
  }

  footer .container {
    max-width: 100% !important;
    padding: 0 1rem !important;
  }

  footer .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    text-align: center !important;
  }

  footer .col-md-3 {
    text-align: center !important;
    margin-bottom: 2rem !important;
  }

  footer .text-center {
    text-align: center !important;
  }
}

@media (max-width: 480px) {
  .navbar-brand {
    font-size: 1.1rem !important;
  }

  footer {
    padding: 1.5rem 0 !important;
  }

  footer h5 {
    font-size: 1rem !important;
  }

  footer li {
    font-size: 0.9rem !important;
  }
}
